/* -- Profile User -- */
/* ------------------ */
ul#profile-container {
	margin: 30px auto;
	width: 99%;
	list-style-type: none;
}

ul#profile-container li {
	margin-right: 2px;
	padding: 10px;
	text-align: center;
}

.preview-img {
	max-height: 180px;
	vertical-align: top;
}

.user-agreement {
	width: 90%;
	max-width: none;
	max-height: 250px;
	overflow-y: auto !important;
}


/* -- Contribution -- */ 
/* ------------------ */
#module-user-contribution-list hr {
	margin: 20px 0;
}

.module-contribution-element {
	float: left;
	margin: 20px 0;
	text-align: center;
}

.unprocessed-contribution {
	margin: auto;
	width: 300px;
	overflow: hidden;
	text-align: center;
}

.unprocessed-contribution div {
	float: left;
	width: 50%;
}

#module-user-moderation-panel .content {
	padding-bottom: 75px;
}

#module-user-moderation-panel .bt td:before {
	display: none;
}

#module-user-moderation-panel .bt-content {
	display: block;
	width: 100%;
	text-align: center;
}

.contribution-module-container {
	float: left;
	margin: 20px 0;
	text-align: center;
}

.convers-announce {
	padding-right: 0;
}

.convers-title {
	width: 50%;
	text-align: left;
}

table.announce-legend td {
	width: 33%;
}

@media (min-width: 769px) {
	.post-pm {
		margin: auto;
		width: 80%;
	}
}

.available-modules-msg {
	margin-bottom: 15px;
	text-align: center;
}


/* -- Error 403/404 -- */ 
/* ------------------- */
#module-user-error-403 .content,
#module-user-error-404 .content {
	text-align: center;
	font-size: 1.5em;
}

#module-user-error-403 .fa-warning:before,
#module-user-error-404 .fa-warning:before {
	content: "\f071"; 
}

#module-user-error-403 .fa-warning,
#module-user-error-404 .fa-warning {
	display: block;
	margin: 40px auto 20px auto;
	color: #C19954;
}

#module-user-error-403 .message-error,
#module-user-error-404 .message-error {
	padding: 20px 0;
}

#module-user-error-403 .type-error,
#module-user-error-404 .type-error {
	padding: 10px 0;
}