.faq-answer-container {
	padding: 10px 5px 10px 0;
	height: auto;
}

.faq-answer-container > div {
	line-height: 1.32em;
}

.article-faq {
	display: table;
	margin: 0 0 6px 0;
	padding: 0;
	width: 100%;
	transition: all 0.2s;
}

.faq-question-element {
	margin: 0;
	padding: 8px 5px 5px 10px;
}

.question-title {
	display: inline-block;
	overflow: initial;
}

.faq-question-element .question-title {
	margin-left: 5px;
}

.sortable-title .question-title span {
    font-size: 1.9rem;
}

/* hack pour l'ancre */
.question-anchor {
	margin-top: -10px;
	padding-top: 10px;
}

.article-faq footer {
	margin: 0;
	padding: 0;
}

#questions-titles-list hr {
	margin: 20px 0;
}