
.media-desc {
	margin-top: 15px;
	text-align: justify;
}

.media-content {
	position: relative;
	margin: 25px auto;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
 
.media-content object,
.media-content embed, 
.media-content video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content {
	margin-top: 10px;
}

a.media-flv {
	display: block;
	margin: 10px auto;
}