header#header-admin {
	padding-bottom: 10px;
}

@media (min-width: 769px) {
	header#header-admin {
		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		max-width: 230px;
		height: 100%;
		max-height: none;	
		overflow: hidden;	
	}

	div.header-admin-container {
		position:absolute;
		right: -20px;
		left: 0;
		width: calc(100% + 20px);
		max-height: 100%;
		overflow-y: scroll;
	}
}

@media (max-width: 768px) {
	div#site-name-container {
		padding: 10px;
	}
}
div#install-site-logo {
	display: inline-block;
	margin-bottom: 10px;
	width: 25px;
	height: 25px;
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	background-position: center ; 
	background-size: cover;
	vertical-align: middle;
}

a#site-name {
	font-size: 1.8em;	
}

#site-slogan {
	display: none;
	padding: 5px;
	color: #FFFFFF;
}

@media (min-width: 769px) {
	#site-slogan {
		display: block;
	}
}

/*--- Menus ====================================================================== */
h3.menu-title {
	padding-left: 15px;
}

div.site-logo {
	float: left;
	margin-right: 5px;
}

select {
	margin: 5px 0 5px ;
	padding: 5px 10px;
	width: 150px;
}

.cssmenu > ul > li {
	width: 100%;
}

.cssmenu > ul > li > .cssmenu-title {
	display: table;
	padding: 12px 17px;
}

.cssmenu > ul > li > .cssmenu-title i, 
.cssmenu > ul > li > .cssmenu-title span{
	display: table-cell;
	color: #DDDDDD;
}

.cssmenu > ul > li > .cssmenu-title i{
	padding-right: 8px;
}

.row-success {
	background: #8AC77F;
}

.row-current {
	background: #FF9900;
}
.cssmenu > ul > li.row-current > .cssmenu-title span {
	color: #FFFFFF;
}
	
.help-menu.cssmenu > ul > li > a:hover.cssmenu-title i, 
.help-menu.cssmenu > ul > li > a:hover.cssmenu-title span {
	color: #8AC77F;
}

.progressbar-container {
	margin: 10px auto;
	width: 90%;
}

.progressbar[style*="100"] {
	border-radius: 3px;
}

@media (max-width: 768px) {
	.cssmenu ul {
		display: block;
	}
	
	.cssmenu > ul > li {
		display: block;
		float: left;
		width: calc(100% / 2);
	}
	
	.step-menu.cssmenu > ul > li {
		width: calc(100% / 7);
	}
	
	.cssmenu > ul > li > .cssmenu-title {
		padding: 5px;
	}
	
	.step-menu.cssmenu > ul > li > .cssmenu-title {
		display: block;
		padding: 5px;
		text-align: center;
	}
	
	.help-menu.cssmenu > ul > li > .cssmenu-title i {
		vertical-align: top;
	}
	
	.step-menu.cssmenu > ul > li > .cssmenu-title i {
		display: inline-block;
		padding: 0;
	}
	
	.step-menu.cssmenu > ul > li > .cssmenu-title span {
		display: none;
	}
}

/* --- contenu ====================================================================== */
section#global,
article {
	margin: 0;
	width: 100%;
}

section header {
	margin-bottom: 10px
}

section header h1 {
	padding: 10px;
	border-bottom: 2px solid #BBBBBB;
}

article header h2 {
	padding: 10px;
	border-bottom: none;
	font-weight: 400;
}

article h3 {
	padding: 15px;
}

article {
	padding: 10px;
	min-height: calc(95vh - 57px);
}

.content > a > img {
	margin: 0 0 5px 10px;
}

.next-step .fieldset-inset {
	overflow: visible;
	padding: 0;
}

.next-step button {
	margin: 5px 0;
}

@media (min-width: 769px) {
	section#global {
		padding-left: 230px;
		width: 100%;
	}
	
	article {
		padding: 20px;
	}

	article header h2 {
		font-size: 2.5em;
	}
}

/* --- welcome --- */
.pbt-box {
	padding: 0 25px 8px 8px;
	width: 150px;
}

@media (min-width: 769px) {
	.pbt-box {
		width:auto;
	}
}

/* --- Bloc License --- */
.license-container {
	margin-bottom: 10px;
	padding: 15px 0;
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
}

.license-content {
	padding: 0 15px;
	width: auto;
	height: 340px;
	overflow-y: scroll;
}

/* --- config serveurs --- */
.success-block,
.failure-block {
	float: left;
	margin-left: 5px;
	padding: 2px;
	width: calc(50% - 10px);
	font-weight: bold;
	text-align: center;
}

.success-block { background: #8AC77F; color: #008000; }
.failure-block { background: #EE8D8D; color: #FF0000; }

#chmod .form-element {
	padding: 2px;
}

/* --- finish --- */
nav.finish-menu ul {
	display: table;
	margin: 20px auto;
	padding: 0;
	list-style-type: none;
}

nav.finish-menu ul li {
	display: inline-block;
	padding: 10px;
	width: 100%;
	text-align: center;
}

nav.finish-menu ul li a {
	text-decoration: none;
}

nav.finish-menu ul li i,
nav.finish-menu ul li span {
	display: block;
}

@media (min-width: 769px) {
	nav.finish-menu ul li {
		width: 200px;
		vertical-align: top;
	}
	
	nav.finish-menu ul li i,
	nav.finish-menu ul li span {
		display: block;
	}
}

/* --- footer --- */
section > footer {
	margin: 0;
	padding: 10px;
	min-height: 5vh;
	background: #404040;
	border-top: 5px solid #366393;
	color: #FFFFFF;
	text-align: right;
}