#cssmenu-module-PHPBoostOfficial {
	display: none;
}

div#main-content {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

nav#breadcrumb {
	display: none;
}

/* General */
.title {
	color: #366493;
	font-size: 1.5em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
	text-decoration: none;
}

/* Partie presentation */
div#p-container {
	padding: 0 10px 10px 10px;
	height: auto;
	overflow: hidden;
}

.p-slide-container {
	list-style: none;
}

p.p-slide-content {
	font-style: italic;
	padding: 15px 5px 5px 5px;
	margin: 0;
	line-height: 1.60em;
	font-size: 12px;
	text-align: justify;
}

@media (min-width: 769px) {
	img.p-slide-img {
		float: left;
		box-shadow: 0 0 10px #d0d9e3;
	}

	div.p-slide-txt {
		padding: 20px 10px 0 30px;
		margin: 40px 0 0 0;
		text-align: justify;
		overflow: hidden;
	}
}

@media (max-width: 768px) {
	img.p-slide-img {
		display: none;
	}

	div.p-slide-txt {
		padding: 20px 10px 0 10px;
		margin: 0 0 0 0;
		text-align: center;
		overflow: hidden;
	}

	ul.p-slide-container {
		margin: 0;
	}
}

a.p-slide-title {
	color: #5F5F5F;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}

a.p-slide-title:hover {
	text-decoration: none;
}

div#p-link {
	margin: 0 auto;
	padding: 15px 5px;
	width: 100%;
}
@media (min-width: 769px) {
	div#p-link {
		width: 400px;
		overflow: hidden;
	}
}

div.p-link-btn {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 25px;
	border-radius: 4px;
}

.p-slide-more {
	float: right;
}

@media (min-width: 481px) {
	.p-slide-more {
		margin: 0 5px 0 0;
	}
}

@media (max-width: 768px) {
	div.p-link-btn {
		display: block;
		margin: 10px auto 0 auto;
	}

	div.btn-ddl { width: 189px; }
	div.btn-try { width: 141px; }

}

div.p-link-btn a {
	display: block;
	height: 52px;
	opacity: 0.97;
}

div.p-link-btn a:hover {
	text-decoration: none;
	opacity: 1;
}

div.btn-ddl a { width: 189px; }
div.btn-try a { width: 141px; }

div.btn-ddl {
	border: 1px solid #1E5083;
	background-color: #366493;
	background: linear-gradient(to bottom, #366493 40%, #1E5083 175%);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
div.btn-ddl:hover { background-color: #1E5083; }

div.btn-try {
	border: 1px solid #096A4A;
	background-color: #2F9674;
	background: linear-gradient(to bottom, #2F9674 40%, #168661 175%);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
div.btn-try:hover { background-color: #168661; }

div.p-link-btn i {
	float: right;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(255, 255, 255, 0.1);
}
div.p-link-btn:hover i { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.05); }

div.btn-ddl i {
	color: #1E3752;
	margin: 16px 12px 0 0;
}
div.btn-ddl:hover i { color: #192D43; }

div.btn-try i { 
	color: #204519;
	margin: 14px 12px 0 0;
}
div.btn-try:hover i { color: #1A3714; }

p.p-link-title {
	padding: 12px 0 0 10px;
	color: #FFFFFF; 
	text-transform: uppercase;
	font-size: 1.3em;
	margin-bottom: 0;
	line-height: 1em;
}

p.p-link-com {
	padding-left: 13px;
	text-transform: lowercase;
	font-size: 11px;
	margin-bottom: 0;
	line-height: 1em;
}

p.ddl-com { color: #C4994D; }
p.try-com { color: #B3AEAE; }

/* Partie Dernieres creation (Themes + Forum) */

/* Class generales */
div#lc-container {
	clear: both;
	padding: 40px 20px;
	height: auto;
	overflow: hidden;
}

div.lc-title {
	border-bottom: 2px solid #366493;
	margin: 0 40px 20px 55px;
	padding: 15px 0 2px 5px;;
	text-align: left;
}

div.lc-img {
	float: left;
	background-image: url('../../templates/phpboost/theme/images/sprite-phpboost.png');
	background-repeat: no-repeat;
	height: 48px;
	width: 48px;
}

div.lc {
	background: #FFFFFF;
	border: 1px solid #BEBEBE;
	float: left;
	margin: 5px;
	overflow: hidden;
}
div.lc:hover { background: #F6F6F6; }

div.lc p {
	margin-bottom: 0;
}

p.lc-title {
	color: #36689E;
	font-size: 17px;
	text-decoration: none;
	padding: 10px 10px 0 10px;
}

p.lc-desc { 
	color: #616161;
	text-align: justify;
	padding-right: 10px;
	height: 43px;
	overflow: hidden;
	font-size: 10px;
}

p.lc-author {
	color: #212121;
	text-align: right;
	padding-right: 20px;
	font-style: italic;
	font-size: 10px;
}

p.lc-author span {
	color: #336397;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
}

div.lc a:hover {
	text-decoration: none;
}

div.lc-more {
	text-align: center;
	width: 200px;
	margin: auto;
}

div.lc-more a {
	color: #366493;
}

div#lt-more {
	float: left;
	margin-left: 50px;
}

/* Class themes */
div.lt-title-img {
	background-position: -99px -27px;
}

.lt-container {
	text-align: center;
}

.lt-content{
	clear: both;
	font-size: 0;
}

div.lt {
	border-bottom: 2px solid #99B1CB;
	height: 309px;
	width: 199px;
	text-align: center;
	transition: all 0.8s ease-out;
}
div.lt:hover {
	border-bottom: 2px solid #6788AB;
	transition: all 0.5s ease-out;
}

a.lt-title-a{
	display: block;
	height: 305px;
}

p.lt-title { 
	margin: 5px 10px;
	border-bottom: 2px solid #336397;
}

p.lt-img-container {
	width: 199px;
	display: table-cell;
	vertical-align: middle;
}

img.lt-img {
	margin: 15px auto 5px auto;
	width: 180px;
	box-shadow: 0 0 10px #D0D9E3;
}

p.lt-desc { 
	padding: 10px 10px;
	font-size: 11px;
	height: 65px;
}

p.lt-author {
	padding-top: 15px;
}

/* Class modules */
.lm-container {
	text-align: center;
}

.lm-content{
	clear: both;
	font-size: 0;
}

div.lm-title-img {
	background-position: -1px -27px;
}

/* Partie Dernieres news du projet */
div#ln-container {
	clear: both;
	background: #E8EDF3;
	border: 1px solid #ADBFD2;
	border-radius: 3px;
	box-shadow: 0 0 5px #D0D9E3;
	max-height: 325px;
	padding: 20px;
	margin: 0 20px;
	overflow: hidden;
	position: relative;
}

div#ln-right {
	float: right;
	width: 200px;
	margin-top: 40px;
	overflow: hidden;
}

div.ln-first { 
	margin: 5px 15px 0 0;
}

div.ln-first { 
	margin: 5px 15px 0 0;
}

@media (max-width: 480px) {
	div.ln-first { 
		margin: 10px 0px 0 0;
	}
}

div.ln-first-content {
	max-height: 230px;
}

div.ln-first-readmore {
	text-align: right;
}

div.ln-list {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 30px;
	height: 100%;
	width: 20%;
	overflow: hidden;
}

@media (min-width: 769px) {
	div.ln-first {
		width: 78%;
	}

	div.ln-first-content {
		overflow: hidden;
	}
}

@media (max-width: 768px) {
	div.ln-list {
		display: none;
	}
}

div#ln-list-title{
	padding: 0 5px 3px 5px;
	margin: 0 20px 15px 10px;
	font-size: 13px;
	border-bottom: 1px solid #366493;
}

div.ln-list-content {
	padding: 0 5px 0 15px;
	border-left: 1px solid #DADFE5;
	position: relative;
}

div.ln-list-content:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	background-color: #F5F6F7;
	width: 1px;
	height: 100%;
}


div#ln-top {
	border-bottom: 1px solid #366493;
	margin-right: 40px;
	padding-top: 10px;
}

div#ln-top-img {
	background-position: -148px -27px;
	float: right;
}

@media (min-width: 769px) {
	div#ln-top {
		margin-right: 22%;
	}

	div#ln-top-img {
		margin-right: 20%;
	}
}

div#ln-top-img a {
	display: block;
	height: 48px;
	width: 48px;
}

a.ln-title {
	color: #25466C;
	font-size: 12px;
	margin-bottom: 0;
	transition: color 1s ease-out;
}
a.ln-title:hover {
	color: #3187EB;
	text-decoration: none;
	transition: color 0.5s ease-out;
}

p.ln-date { 
	color: #353535;
	font-size: 10px;
}

.ln-content {
	line-height: 1.60em;
	text-align: justify;
	max-height: 159px;
	overflow: hidden;
}


/* Configuration */
.major-version-number-title { margin-left: 12px; }
.minor-version-number-title { margin-left: 15px; }
.minimal-php-version-title 	{ margin-left: 30px; }

.name-title {
	margin-left: 105px;
}

.fa-plus {
	margin-top: 10px;
}

input[type=text] {
	width: 170px;
	width: 165px;
	margin: 5px 0 0 15px;
}




/* Affichage des elements */
.pbt-element {
	position: relative;
	display: inline-block;
	margin: 0;
	width: 23%;
}

@media (max-width: 768px) and (min-width: 481px) {
	.pbt-element {
		width: 250px;
	}
}

@media (max-width: 480px) {
	.pbt-element {
		width: 80%;
	}
}

.pbt-element .content {
	margin: 0 5px 10px 5px;
	padding: 0!important;
	background-color: #FAFAFA;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transition: 1s ease;
	font-size: 1.5rem;
}

.pbt-element:hover .content{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 1s ease;
	background-color: #F1F1F1;
}

.pbt-element .content a:hover {
	text-decoration: none; 
}


.pbt-element .content .actions {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}

.pbt-element .content .actions a {
	opacity: 0;
	display: block;
	float: left;
	padding: 2px 5px 2px 0;
	transition: opacity 1s ease;
}

.pbt-element .content .actions a:first-child {
	padding-left: 8px;
	border-radius: 0 0 5px 0;
}

.pbt-element .content .actions i {
	color: #222222;
}

.pbt-element:hover .content .actions a {
	opacity: 0.5;
	transition: opacity 1s ease;
}

.pbt-element img {
	overflow: visible;
}


.pbt-element-img-container {
	position: relative;
	height: auto;
	max-height: 130px;
	width: 100%;
	border-bottom: 4px solid #CCCCCC;
	overflow: hidden;
}

.pbt-element-img-container img {
	width: 100%;
}

.pbt-element-info-container {
	height: auto;
	padding: 8px 0 20px 0;
	min-height: 110px;
}

.pbt-element-img-container {
	opacity: 0.9;
	transition: opacity 0.3s ease;
}

.pbt-element:hover .pbt-element-img-container {
	opacity: 1;
	transition: opacity 0.3s ease;
}

img.pbt-icon {
	position: absolute;
	bottom: 5px;
	z-index: 10;
	overflow: hidden;
	background-image: url('../../templates/phpboost/theme/images/sprite-phpboost.png');
	background-repeat: no-repeat;
	border: none!important; 
	box-shadow: none;
}

img.pbt-icon-templates {
	background-position: -26px -270px;
	width: 49px;
	height: 24px;
	left: 5px;
}

img.pbt-icon-modules,
img.pbt-icon-updates,
img.pbt-icon-releases {
	background-position: -1px -270px;
	width: 24px;
	height: 24px;
	left: 10px;
}

img.pbt-logo {
	position: absolute;
	z-index: 1;
	top: 15%;
	right: 10%;
	max-width: 64px;
}

.pbt-info-title {
	height: 30px;
	width: 99%;
	display: block;
	margin: 5px auto 0 auto;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4;
	color: #222222;
	text-align: center;
}

.pbt-info-desc {
	color: #AAAAAA;
	font-style: italic;
	font-size: 0.85em;
	height: 45px;
	overflow: hidden;
	text-align: center;
	margin: 5px 10px;
}

.pbt-element-cats-updates .pbt-info-desc {
	display: none;
}

.pbt-info-author {
	position: absolute;
	bottom: 5px;
	right: 12px;
	color: #AAAAAA;
	font-style: italic;
	font-size: 0.8em;
	text-align: right;

}

.article-several {
	clear: none;
}

.pbt-element footer {
	clear: both;
}


/* Subcat */
.subcat-container {
	margin-bottom: 0;
	vertical-align: bottom;
	width: 23%;
	display: inline-block;
}

@media (max-width: 768px) and (min-width: 481px) {
	.subcat-container {
		width: 250px;
	}
}

@media (max-width: 480px) {
	.subcat-container {
		width: 80%;
	}
}

.subcat-element {
	position: relative;
	margin: 0 5px 10px 5px;
	padding-top: 100px;
	opacity: 0.8;
	overflow: hidden;
	transition: opacity 0.5s ease;
	width: auto;
}

.subcat-element:hover {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.subcat-element .subcat-content {
	display: block;
	padding: 20px 10px 0 10px;
	height: 128px;
	border-top: 5px solid #FFFFFF;
}

.subcat-element .subcat-content:hover {
	text-decoration: none;
}

.subcat-element .subcat-img-container {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	padding: 0 10px;
}

.subcat-img-container .subcat-img {
	height: 128px;
	width: 128px;
	overflow: hidden;
}

.subcat-img { 
	background-image: url('../../templates/phpboost/theme/images/sprite-phpboost.png');
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
}

.subcat-templates .subcat-img 		{ background-position: -259px -76px; 	}
.subcat-modules .subcat-img 		{ background-position: -388px -76px; 	}

.subcat-templates .subcat-content 	{ background-color: #7CCAB0; border-color: #2F9674; }
.subcat-modules .subcat-content 	{ background-color: #FFD79C; border-color: #E2A447; }

.subcat-element .subcat-title {
	display: block;
	padding-top: 20px;
	font-size: 1.2em;
	font-weight: bold;
	color: #363636;
}

.subcat-element:hover .subcat-title {
	color: #222222;
}

.subcat-element .subcat-more {
	display: block;
	padding-top: 2px;
	font-size: 0.9em;
	font-style: italic;
	color: #555555;
}
.subcat-element:hover .subcat-more {
	color: #444444;
}

/* Partners */
#lp-container {
	padding: 40px 20px;
	clear: both;
}

.lp-title { 
    margin: 0 40px 20px 55px;
    padding: 15px 0 2px 5px;
	border-bottom: 2px solid #336397;
}

.lp-title-img {
	background-position: -197px -27px;
}

.lp-content {
	text-align: center;
	margin: 20px auto;
}

.partners-element {
	display: inline-block;
	margin: 5px 15px;
}

.partners-title {
	display: none;
}