# IF C_PREVIEW #
<div class="notice">Prévisualisation</div>
# ENDIF #

# IF C_RESULT #
	<strong>TEXT :</strong> {TEXT}
	<br />
	<strong>MAIL :</strong> {MAIL}
	<br />
	<strong>WEB :</strong> {WEB}
	<br />
	<strong>AGE :</strong> {AGE}
	<br />
	<strong>MULTI_LINE_TEXT :</strong> {MULTI_LINE_TEXT}
	<br />
	<strong>RICH_TEXT :</strong> {RICH_TEXT}
	<br />
	<strong>RADIO :</strong> {RADIO}
	<br />
	<strong>CHECKBOX :</strong> {CHECKBOX}
	<br />
	<strong>SELECT :</strong> {SELECT}
	<br />
	<strong>HIDDEN :</strong> {HIDDEN}
	<br />
	<strong>DATE :</strong> {DATE}
	<br />
	<strong>DATE_TIME :</strong> {DATE_TIME}
	<br />
	<strong>FILE :</strong> {FILE}
	<br />
	<strong>HIDDEN TEXT AREA TEXT FIELD :</strong> {H_T_TEXT_FIELD}
# ENDIF #

# INCLUDE form #
