/* --------------------------------------
		default.css
Css par defaut commun * tout les themes, permet les ajouts necessaires au framework et retrocompatibilite
--------------------------------------*/

/* Reset */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	border: none;
	overflow: auto;
	vertical-align: middle;
}

img, table, td, blockquote, code, pre, textarea, input, video, object, .video-player {
	max-width: 100%;
}

input, button, label, select, textarea, legend {
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
}

optgroup, select, label, button, .button, input[type=radio], input[type=checkbox], input[type=color], .notation .star {
	cursor: pointer;
}

input[type=checkbox] {
	border: none;
	background: none;
}

button::-moz-focus-inner, .button::-moz-focus-inner{
	border: 0;
	padding: 0;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/* Fix for no wrap for button */
button, .button {
	word-wrap: normal;
	overflow-wrap: normal;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

/* Fix for chrome word-wrap ... */
fieldset {
	min-width: 0 !important;
}

hr {
	background-color: #C4CED6;
	border: none;
	margin: 1px auto;
	height: 1px;
	width: 99%;
}

ul, ol {
	line-height: normal;
	margin-left: 30px;
	margin-bottom: 10px;
}

ul.no-list {
	list-style: none;
}

p {
	margin-bottom: 0.7em;
	line-height: normal;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

abbr, a.wikipedia-link {
	position: relative;
	border-bottom: 1px dotted #CCCCCC;
	cursor: help;
	padding-left: 18px;
}

a.wikipedia-link:before {
	position: absolute;
	vertical-align: middle;
	top: 1px;
	left: 0;
	content: "\f266" ;
	font-family: fontawesome;
	font-size: 1em;
}

/* Alignements */
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

.center  { text-align: center !important; }
.left    { text-align: left !important; }
.right   { text-align: right !important; }
.justify { text-align: justify !important; }

.float-left, img.left   { float: left !important; }
.float-right, img.right { float: right !important; }

.hidden { display: none !important; }

@media (max-width: 768px) {
	.hidden-small-screens { display: none !important; }
}

@media (min-width: 769px) {
	.hidden-large-screens { display: none !important; }
}

img.left, img.right {
	margin: 6px;
}

/* Classes textes */
.text-strong  { font-weight: bold !important; }
.text-justify { text-align: justify !important; }
.text-italic  { font-style: italic !important; }

.valign-top    { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: bottom !important; }

.spacer {
	clear: both;
}

/* Image */
.img-link,
.img-link:hover {
	text-decoration: none;
}

/* Affichage des smiley */
.smiley {
	vertical-align: middle;
}

/* Icones */
.icon-disabled {
	opacity: 0.3;
	cursor: default;
}

/* Fieldsets */
div.vertical-fieldset,
div.horizontal-fieldset {
	margin: 20px 0;
}

div.vertical-fieldset .form-element,
div.horizontal-fieldset .form-element {
	margin: 0 5px 0 5px;
}

div.horizontal-fieldset .form-element label {
	display: inline;
}

div.horizontal-fieldset .form-field {
	display: block;
	width: 100%;
}

div.vertical-fieldset .form-element label,
div.horizontal-fieldset .form-element label {
	width: auto;
	vertical-align: middle;
	font-weight: bold;
}

/* Imite l'affichage fieldset / legend */
.fieldset-content {
	margin: auto;
	margin-top: 20px;
}

@media (max-width: 768px) {
	.fieldset-content {
		margin-top: 0.5em;
	}
}

.module-mini-contents .fieldset-content {
	width: 100%;
}

/* Opacite */
.low-opacity {
	opacity: 0.40;
}

/* Liens pagination */
ul.pagination li {
	display: inline;
}
ul.pagination .current-page {
	text-decoration: underline;
}

/* Debug */
.pbt-debug {
	background-color: #FFA500 !important;
	outline: 3px solid #FF4500 !important;
}

#error-handler {
	width: auto;
	max-width: 750px;
	margin: 15px auto;
}

/* Previsualisation AJAX. */
.xmlhttprequest-preview {
	overflow: auto;
	height: 220px;
	width: 94%;
	font-size: 11px;
	margin: 4px auto 3px auto;
	padding: 1px 2px 1px 2px;
	border-radius: 4px;
}

/* --- Elements de previsualisation --- */
.loading-preview-container {
	position: relative;
}

.loading-preview {
	position: absolute;
	z-index: 10;
	margin: 90px auto auto auto;
	width: 100%;
	text-align: center;
}

@media print {
	* {
		background-color: transparent;
		text-shadow: none;
		box-shadow: none;
		color: #000000;
	}
}

/* Tableaux
--------------------------------------*/
table.table-fixed {
	table-layout: fixed;
	width: 100%;
}

/* Effet Blink
--------------------------------------*/
@keyframes blink {
	0%   { opacity: 0; }
	30%  { opacity: 1; }
	70%  { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes blink {
	0%   { opacity: 0; }
	30%  { opacity: 1; }
	70%  { opacity: 1; }
	100% { opacity: 0; }
}

.blink {
	animation: blink 1.5s ease-in-out infinite;
	-moz-animation: blink 1.5s ease-in-out infinite;
	-webkit-animation: blink 1.5s ease-in-out infinite;
}
