#module-mini-search {
}

#mini-search-form {
	float: right;
	margin: 40px 20px 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	border-radius: 0;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
	border-radius: 0;
}
