#module-mini-search-form {
	position: absolute;
	z-index: 1;
	top: 30px;
	width: 100%;
}

#mini-search-form-container {
	margin: 0 auto;
}

#mini-search-form {
	float: right;
	margin: 4em 3em 0 0;
	width: 167px;
	white-space: nowrap;
	vertical-align: middle;
	background: rgba(255,255,255,.15);
	padding: 6px;
	border-radius: 8px;
}

@media ( max-width: 768px ) {
	#mini-search-form {
		display: none;
	}
}

#mini-search-form.input-element-button input {
	width: 120px;
	border-radius: 4px 0 0 4px;
	height: 25px;
}

#mini-search-form.input-element-button button {
	border-radius: 0 4px 4px 0;
	margin: 0 0 0 -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
}

