/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background-color: #EFEFEF;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- Gestion largeur site -- */
/* -------------------------- */
div#sub-header-content,
div#site-infos,
div#global,
footer#footer .footer-content,
#connect-menu,
#mini-search-form-container {
	max-width: 1280px;
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
	position: relative;
	background: linear-gradient(to bottom, #81a4c8 0%,#517ba6 22%,#366493 51%,#1e5083 83%,#103b67 100%);
}

/* --- Partie superieure du header --- */
div#top-header {
	min-height: 150px;
	margin: auto;
}

@media (min-width: 769px) {
	div#top-header {
		height: 180px;
	}
}

/* --- Partie inferieure du header --- */
div#sub-header {
	min-height: 35px;
	background-image: linear-gradient(#373737,#232323);
	border-top: 1px solid #2F2F2F;
	box-shadow: #2F2F2F 0 0 3px;
}

div#sub-header-content{
	margin: auto;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	display: -ms-flexbox;
}
@media (max-width: 768px) {
	div#site-infos {
		padding-top: 40px;
	}
}

div#site-logo {
	margin: 0 1em 0 0;
	background-image: url('images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

div#site-name-container {
	margin: 1em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	div#site-logo {
		width: 60px;
		height: 60px;
		margin: 0 0.5em 0 0;
	}

	div#site-name-container {
		margin: 0.4em 0 0 0;;
	}

	a#site-name {
		font-size: 2.4em;
	}
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	margin: 1px auto 0 auto;
	padding: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row; /* IE10 Tricks */
	-webkit-flex-direction: row;
	border-width: 0 1px;
	border-style: solid;
	border-color: #DFDFDF;
	background-color: #FAFAFA;
}

div#main {
	position: relative;
	max-width: 100%;
}

aside#menu-right {
	background-color: #F4F4F4;
	position: relative;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
	}

	#main {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
		padding: 0 10px;
		width: 77%;
	}

	aside#menu-right {
		width: 23%;
		max-width: 250px;
		padding: 10px 5px 10px 5px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
		border-left: 1px solid #DEDEDE;
	}
	
	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
		flex-basis:100%;
		-ms-flex-basis:100%;
	}
	div#main:before,
	aside#menu-right:before {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content:"";
		box-shadow: #999999 0 0 3px;
	}

	div#main:before 		{ left: 0; }
	aside#menu-right:before { right: 0; }
}

@media (max-width: 768px) {
	div#global {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}

	#main {
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
		padding: 0 0 10px 0;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 100%;
	}

	aside#menu-left  {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
	}
	aside#menu-right {
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
		padding-top: 50px;
	}

	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	position: relative;
	margin: 2% auto 0 auto;
	padding-top: 2%;
}

#bottom-content:before {
	position: absolute;
	top: 0;
	height: 1px;
	width: 100%;
	background: #E1E1E1;
	border-bottom: 1px solid #FFFFFF;
	content: "";
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	clear: both;
	width: 100%;
	background-color: #232323;
	border-top: 2px solid #103B67;
	margin-top: 2px;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
}

.sprite-img {
	background: url('images/sprite-phpboost.png');
}

footer#footer .footer-content nav.cssmenu {
	display: inline-block;
	width: 100%;
}

footer#footer .footer-infos {
	min-height: 40px;
	width: 60%;
	text-align: center;
	padding-top: 10px;
	margin: auto;
	border-top: 2px groove #444444;
}

footer#footer .footer-infos span {
	color: #FBFDFF;
	font-size: 0.8em;
}

footer#footer .footer-infos a {
	color: #366493;
}
footer#footer .footer-infos a:hover {
	color: #1E5083;
	text-decoration: none;
}

@media (max-width: 768px) {
	.footer-infos span {
		display: block;
		padding: 0 0 5px 0;
	}
	
	span.footer-infos-separator {
		display: none;
	}
}

/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#compteur {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	text-indent: 10px;
	margin: 0 0 20px 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}


/* Boutons */

.pbt-button-container { 
	margin: auto;
	text-align: center;
}

.pbt-button {
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	line-height: 29px;
}
.pbt-button:hover { box-shadow: 0 0 1px #212121; }

.pbt-button-blue { 
	border: 1px solid #1E5083;
	background: #366493;
	background: linear-gradient(to bottom, #366493 0%, #1E5083 100%);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	margin-right: 10px;
}
.pbt-button-blue:hover { 
	background: #1E5083;
}

.pbt-button-green { 
	border: 1px solid #096A4A;
	background: #2F9674;
	background: linear-gradient(to bottom, #2F9674 0%, #168661 100%);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	margin-left: 10px;
}
.pbt-button-green:hover { 
	background: #168661;
}

.pbt-button-gray {
	background-color: #F1F1F1;
	background-image: linear-gradient(to top,#F1F1F1 0%,#FFFFFF 100%);
	border: 1px solid #d9d9d9;
	margin-left: 10px; 
}
.pbt-button-gray:hover {
	background-color: #ECECEC;
	background-image: linear-gradient(to top,#ECECEC 0%,#FBFBFB 100%);
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 1px #CCCCCC;
}

.pbt-button-title {
	padding: 6px 0 0 0;
	color: #FFFFFF; 
	font-size: 20px;
	margin-bottom: 0;
}
.pbt-button-gray .pbt-button-title { color: #444444;font-size: 15px; }

.pbt-button-com {
	padding-top: 2px;
	font-size: 11px;
	margin-bottom: 0;
	text-align: left;
}
.pbt-button-blue .pbt-button-com {
	color: #C98621;
	padding-left: 67px;
}

.pbt-button-green .pbt-button-com {
	color: #005136;
	padding-left: 70px;
}

.pbt-button-gray .pbt-button-com {
	color: #B3AEAE;
	text-align: center;
}


.pbt-button-a {
	display: block;
	padding: 6px 6px;
	color: #444444;
}
.pbt-button-a:hover {
	text-decoration: none;
	color: #212121;
}

.pbt-button-add {
	width: 70px;
	padding: 0 10px 0 7px;
}

.pbt-button-img,
.pbt-button-a {
    transition: all 0.1s ease-out;
    overflow: hidden;
}

.pbt-button-a:hover .pbt-button-img, 
.pbt-button-a:hover{
	opacity: 1;
	overflow: hidden;
}

.pbt-custom-img {
	float: left;
	overflow: hidden;
}

h2.pbt-custom-subtitle {
	text-align: left;
	padding-left: 7px;
}

h2.pbt-custom-subtitle a {
	font-size: 16px;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
	font-weight: bold;
}


/* Entete specifique */
.pbt-header { margin: auto; }

.pbt-content { text-align: justify; margin-bottom: 10px; }

.pbt-desc { 
	font-style: italic; 
	font-weight: normal;
	font-size: 12px;
}

img.pbt-header-img {
	float: left;
	padding: 0 10px 10px 0;
}

/* --- Scroll to Top --- */
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(15, 15, 16, 0.8);
}

#scroll-to-top {
	right: 25px;
	bottom: 25px;
	padding: 9px 11px 11px 10px;
}

.scroll-to i {
	font-size: 2em;
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.5s;
}
