#module-stats .block,
#module-stats .medium-block,
#module-stats .small-block {
	padding: 0.8em;
	background: transparent;
	border: none;
}

#menustats {
	margin: 0 auto 20px;
	list-style-type: none;
}

#menustats ul {
	height: auto;
	opacity: 0;
	visibility: hidden;
	list-style-type: none;
}

#menustats.active ul{
	height: auto;	
	opacity: 1;
	visibility: visible;
}

#menustats li { 
	padding: 5px 10px;
}

@media (min-width: 769px) {
	#menustats {
		display: table;		
	}
	
	#menustats ul {
		opacity: 1;
		visibility: visible;
	}
	
	#menustats li{
		position: relative;
		display: inline-block;
		padding: 0;
		text-align: center;
	}
	
	#menustats li a {
		display: block;
		padding: 10px 10px;
	}
	
	#menustats li a i {
		font-size: 1.5em;
	}
	
	#menustats li span {
		position: absolute;
		top: 100%;
		left: -50%;
		display: block;
		width: 200%;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease 0s;
		white-space: nowrap;
		text-align: center;
	}
	
	#menustats li:hover span {
		top: 80%;
		opacity: 1;
		visibility: visible;
		transition: all .5s ease 0s;
	}
}

#menustats i.fa-home 					{ color: #05BAB0; }
#menustats li:hover i.fa-home 			{ color: #058480; }

#menustats i.fa-users 					{ color: #3498DB; }
#menustats li:hover i.fa-users 			{ color: #1b7CBD; }

#menustats i.fa-eye 					{ color: #2ECC71; }
#menustats li:hover i.fa-eye 			{ color: #16A352; }

#menustats i.fa-file-o 					{ color: #4372AA; }
#menustats li:hover i.fa-file-o 		{ color: #2D4D73; }

#menustats i.fa-globe 					{ color: #1FA6D5; }
#menustats li:hover i.fa-globe 			{ color: #1589B1; }

#menustats i.fa-laptop 					{ color: #999999; }
#menustats li:hover i.fa-laptop	 		{ color: #777777; }

#menustats i.fa-flag-o 					{ color: #9B59B6; }
#menustats li:hover i.fa-flag-o 		{ color: #8533A7; }

#menustats i.fa-share-square-o 			{ color: #f86227; }
#menustats li:hover i.fa-share-square-o { color: #D6511C; }

#menustats i.fa-key 					{ color: #F1C40F; }
#menustats li:hover i.fa-key 			{ color: #D8B00E; }

#menustats i.fa-search 					{ color: #34495E; }
#menustats li:hover i.fa-search 		{ color: #1B344D; }
