/* -- Conteneur des messages de la shoutbox.*/
#shoutbox-messages-container {
	margin: auto;
	height: 150px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
}

.shout-horizontal {
	padding-left: 1.5em;
}

.shout-spacing {
	margin: 10px 0 10px 0;
}

.shout-pseudo.not-connected {
	width: 90%;
}

.shout-form-container {
	margin: 2px 0 5px 0;
	text-align: center;
}

.shout-form-container label {
	display: block;
}

#module-mini-shoutbox textarea,
#module-mini-shoutbox textarea:valid {
	width: 90%;
}

#shoutbox-bbcode-container ul {
	margin: 0;
	padding: 0;
}