#recaptcha-widget {
	display: inline-block;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	border-collapse: collapse;	
}

#recaptcha-widget .options {
	display: table-cell;
	float: none;
	margin: 0;
	padding: 5px;
	height: 100%;
	vertical-align: middle;
	border-radius: 0 4px 4px 0;
	border: none;
}

#recaptcha-widget .options > a,
#recaptcha-widget .options > div {
	display: block;
	padding: 8px 0;
}

#recaptcha-container {
	display: table-cell;
	border-right: 1px solid #CCCCCC;
	vertical-align: top;
}

#recaptcha-container span,
#recaptcha-container div {
	margin: 5px;
}

#recaptcha-container input {
	width: 100%;
	border: none;
	border-top: 1px solid #CCCCCC;
	border-radius: 0 0 0 4px;
}

#recaptcha_image {
	width: 96% !important;
	height: auto !important;
	max-width: 100%;
}

#recaptcha_image img {
	width: 100%;
}

@media (max-width: 768px) {
	.g-recaptcha div {
		width: 100% !important;
	}
	
	.g-recaptcha iframe {
		max-width: 100%;
	}
}
