# INCLUDE ADD_FIELDSET_JS #<div class="vertical-fieldset" id="${escape(HTML_ID)}" # IF C_DISABLED # style="display:none;" # ENDIF #># IF C_DESCRIPTION #<p>${escape(DESCRIPTION)}</p># ENDIF ## START elements # # INCLUDE elements.ELEMENT # # END elements #</div>